# Игнорировать директорию виртуального окружения
venv/

# Игнорировать временные файлы и каталоги
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы конфигурации IDE
.vscode/
.idea/

# Игнорировать файлы операционных систем
.DS_Store
Thumbs.db
